
* {
    font-family: 'Inter';
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Montserrat', sans-serif; 
}

/* index.html */

.main-page-header {
    position: relative;
    background-image: url('https://cdn.nba.com/manage/2024/04/ANT-scaled.jpg?fbclid=IwAR3UxQSXC33ze9Mg8B05x-f00VFxSwfhPK5kZ0VEfS7Qfx948f_LRSLKD3Y'), 
                          linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.55));
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.main-page-header h1 {
    font-family: 'Montserrat';
    margin-bottom: 0.5rem;
}

.main-page-header h4 {
    font-family: 'Montserrat';
    font-weight: normal;
    margin-top: 0;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    display: inline-block;
    width: 55%;
}

.main-page-navbar {
    position: absolute;
    top: 0;
    padding: 4rem 25rem 0 0;
    display: flex;
    justify-content: center;
    gap: 2.75rem;
}

.main-page-navbar a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.main-page-navbar a:hover {
    transform: scale(1.05);
}

.main-page-registerlogin a {
    position: relative;
    bottom: 0.5rem;
    left: 25rem;
    border-style: solid;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: transform 0.2s ease;
    display: inline-block;
}

.main-page-registerlogin a:hover {
    transform: scale(1.05);
}

.main-page-content {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    flex-direction: column;
    position: relative;
}

.main-page-stadiumcontent {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
}

.main-page-stadiumimage {
    width: 230px;
    height: 150px;
    margin: auto;
    border-radius: 10px;
}

.main-page-stadiuminfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.main-page-stadiuminfo h2{
    margin-bottom: 0;
    font-family: 'Inter';
    font-weight: normal;
}

.main-page-stadiumdetails {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-page-stadiumdetails h4{
    font-family: 'Inter';
    font-weight: normal;
}

.main-page-userimage {
    width: 25px;
    height: auto;
}

.main-page-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 60px;
}

.main-view-available {
    border-style: solid;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    transition: transform 0.2s ease;
    display:inline-block;
    border-color: black;
    color: black; 
    text-decoration: none;
}

.main-reserve-seat {
    border-style: solid;
    border-radius: 10px;
    padding: 0.5rem 3.65rem;
    transition: transform 0.2s ease;
    display:inline-block;
    border-color: black;
    color: black; 
    text-decoration: none;
}

.main-view-available:hover, .main-reserve-seat:hover{
    transform: scale(1.05);
}

/* profile_page.html */

.profile-page-header {
    position: relative;
    background-image: url('https://a.espncdn.com/photo/2017/0523/r212047_1296x864_3-2.jpg'), 
                          linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.55));
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 40vh;
    width: 100%;
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.profile-page-header  h1 {
    font-family: 'Montserrat';
    margin-right: 42.5rem;
    margin-top: 10rem;
    font-weight: 420;
    text-align: left;
    font-size: 50px;
}

.profile-page-navbar {
    position: absolute;
    top: 0;
    padding: 4rem 25rem 0 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.profile-page-navbar a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.profile-page-navbar a:hover {
    transform: scale(1.05);
}

.profile-page-registerlogin a {
    position: relative;
    bottom: 0.5rem;
    left: 25rem;
    border-style: solid;
    padding: 0.5rem 1rem;
    transition: transform 0.2s ease;
    display: inline-block;
}

.profile-page-registerlogin a:hover {
    transform: scale(1.05);
}

.profile-page-content {
    position: relative;
    height: 100vh;
    width: 100%;
    color: white; 
    display: flex; 
    flex-direction: row; 
}

/*  profile_page.html | LEFT SIDE OF PROFILE PAGE*/

.profile-left-page {
    flex: 1; 
    background-color: #D9D9D9; 
    height: 960px;
}

.profile-username {
    width: 55%;
    float: right;
}

.profile-username h4{
    color:black;
    text-align: left;
    font-size: 24px;
    font-weight: 2000;
    font-family: 'Montserrat';
}

.profile-username p{
    color:black;
    text-align: left;
    font-family: 'Montserrat';
}

.personal-info, .personal-reservations {
    width: 55%;
    float: right;
    margin-top: 5rem;
}

.personal-info a, .personal-reservations a {
    display: flex; 
    align-items: center;
    text-decoration: none; 
    color: inherit; 
}

.personal-info h4, .personal-reservations h4 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-left: 1rem; 
    font-family: 'Montserrat';
}

.personal-info img, .personal-reservations img {
    width: 10%;
    height: auto;
}

/* profile_page.html | RIGHT SIDE OF PROFILE PAGE*/

.profile-right-page {
    flex: 1.2; 
    background-color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 960px;
}

.profile-search-bar {
    width: 80%; 
    margin-top: 2rem;
    margin-bottom: 2rem; 
    display: flex;
    justify-content: center; 
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 8px;
    cursor: pointer;
}


.search-icon {
    width: 24px; 
    height: 24px; 
}

.search-input {
    width: 100%; 
    padding: 0.5rem;
    font-size: 1rem;
    border: none; 
    outline: none; 
}

.profile-picture-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.profile-picture-upload img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover;
    border: 2px solid #ccc; 
    transition: background-color 0.3s ease; 
}

.profile-picture-label:hover img {
    background-color: black; 
}

.plus-sign {
    display: none; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 2rem; 
    color: white; 
}

.profile-picture-label:hover .plus-sign {
    display: block;
}

#file-upload {
    display: none;
}

.profile-details h4 {
    color: gray;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0.5rem 0; 
}

.profile-details h3 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0.5rem 0; 
}

.profile-input {
    width: 100%; 
    padding: 0.5rem; 
    border: 1px solid black; 
    background-color: #f0f0f0; 
    font-size: 1rem; 
    border-radius: 4px; 
    outline: none; 
    box-sizing: border-box; 
    margin-bottom: 2rem;
}

.description-input {
    width: 100%; 
    height: 10rem;
    padding: 0.5rem; 
    border: 1px solid black; 
    background-color: #f0f0f0; 
    font-size: 1rem; 
    border-radius: 4px; 
    outline: none; 
    box-sizing: border-box; 
    margin-bottom: 2rem;
    resize: none;
}

.delete-button-text h4{
    color: black;
}

.update-button-text h4{
    color: black;
}

.delete-and-update-profile {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 9rem; 
    margin-top: 2rem; 
}

.delete-button-text {
    display: inline-block;  
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
    color: #EE2121;
}

.update-button-text {
    display: inline-block; 
    width: 8rem;
    background-color: #000000;
    padding: 1rem 2rem; 
    border: 1px solid black;
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    color: white;
    transition: background-color 0.3s ease;
}

.update-button-text:hover {
    background-color: #ffffff; 
    color: black;
}

.delete-button-text h4, .update-button-text h4 {
    margin: 0; 
    color: inherit; 
}

/*FOOTER*/
.footer {
    position: relative;
    margin: auto;
    margin-top: 250px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    height: auto;
    width: 100%;
    gap: 75px;
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
}

.footer img {
    height: 100px;
    width: 100px;
}

.footer h5 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.75rem;
}

.footer a {
    transition: transform 0.2s ease;
}

.footer-navbar {
    display: flex;
    justify-content: center;
    gap: 2.75rem;
}

.footer-navbar a {
    font-family: "Montserrat";
    font-weight: normal;
    color: black; 
    text-decoration: none;
    font-size: 1.75rem;
    transition: transform 0.2s ease;
}

.footer-navbar a:hover, .footer a:hover{
    transform: scale(1.05);
}

/*PROFILE CURRENT RESERVATION PAGE*/

.reservation-profile-right-page {
    flex: 1.2; 
    background-color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 960px;
}

.reservation-box {
    padding: 1rem 2rem; 
    border: 1px solid black;
    border-radius: 4px;
    width: 40rem;
    height: auto; 
    margin-top: 2rem;
    display: flex;
    flex-direction: column; 
}

.reservation-id h3{
    color:black;
    font-size: 24px;
    font-weight: 500;
}

.reservation-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation-details-arena h2, .reservation-details-right h2, .reservation-details-left h2 { 
    color: gray;
    font-size: 16px; 
    font-weight: 350;
}

.reservation-buttons {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}

.modify-reservation {
    width: 12rem;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    color: black;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modify-reservation h4 {
    margin: 0;
}

.modify-reservation:hover {
    background-color: #000000; 
    color: white;
}

.cancel-reservation {
    color: black;
    text-decoration: none; 
    transition: background-color 1.3s ease;
}

.cancel-reservation:hover {
    color: #EE2121;
}

/*modify reservation page*/

.modify-reservation-content {
    overflow: hidden;
    height: 860px;  
}

.left-space-transparent {
    float: left;
    width: 15%; 
    height: 100%; 
}

.right-space-content { 
    background-color: white;
    float: right;
    width: 85%; 
    height: 100%;
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header-content, .box-content, .buttons-content {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.header-content h4 {
    font-size: 64px;
    font-family: 'Montserrat', sans-serif; 
}


.box-content {
    border: 1px solid black; 
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: center; 
}

/* Center the Reservation title */
.box-content h3 {
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 32px;
}

.date-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.date-input-container input {
    padding: 5px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
}

.date-input-container .calendar-icon {
    margin-left: 10px;
    cursor: pointer;
}

.date-label {
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
}

.dropdown-container {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
    position: relative;
}

.dropdown-container label {
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
}

.dropdown-container select {
    padding: 5px 50px 5px 5px; 
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%231c1c1c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
}

.dropdown-container select::-ms-expand {
    display: none;
}

.left-cancel {
    margin-right: 0;
    margin-left: 400px;
    margin-top: 50px;
}

.right-update {
    margin-left: 0;
    margin-right: 400px;
    margin-top: 50px;
}

.left-cancel a {
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif; 
    color: #F41A1A !important;
}

.right-update a {
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
}

.right-update a {
    width: 12rem;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    color: black;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-update a:hover {
    background-color: white; 
    color: black !important;
}



.buttons-content {
    justify-content: space-around;
}

/* login page  */

.login-main {
    position: relative;
    background-image: url('https://cdn.sportsbreak.com/eyJidWNrZXQiOiJwdWItc3RvcmFnZSIsImtleSI6InNwb3J0c2JyZWFrL3dwLWNvbnRlbnQvdXBsb2Fkcy8yMDE3LzA1LzE1MTEzMDAwMjQxNi1rb2JlLWJyeWFudC1uYmEtZmluYWxzLWdhbWUtNy1ib3N0b24tY2VsdGljcy12LWxvcy1hbmdlbGVzLWxha2Vycy4xMjAweDY3Mi5qcGVnIiwiZWRpdHMiOltdfQ=='), 
                          linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.login-main h1 {
    font-family: 'Montserrat';
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 2.65rem;
}

.login-form {
    background-color: white;
    padding: 50px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.login-form label {
    font-family: 'Inter';
    color: black;
    text-align: left;
    margin-top: 0px;
    font-size: 1.35rem;
    margin-left: 95px;
}

.login-form input[type="text"], .login-form input[type="password"] 
{
    width: 70%;
    padding: 3px;
    margin-top: 0px;
    font-size: 1.35rem;
    margin: auto;
}

.login-form input[type="submit"] {
    padding: 10px;
    background-color: white;
    color: black;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 100px;
    margin: auto;
}

.login-form input[type="submit"]:hover{
    transform: scale(1.05);
}

.login-form a {
    color: black;
    font-family: 'Inter';
    font-size: 1rem;
    margin: auto;
    transition: transform 0.2s ease;
}

.login-form a:hover {
    transform: scale(1.05);
}

.back-button-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.back-button-link-login{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border: solid black;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    text-align: center;
    margin-top: 15px;
}

.back-button-link-login:hover{
    transform: scale(1.05);
}

/* register page */

.register-main {
    position: relative;
    background-image: url('https://th.bing.com/th/id/R.dfd47bfa8cf6ef2ed58bab189b5e1714?rik=M%2bkRMbTe6hv0jA&riu=http%3a%2f%2fa2.espncdn.com%2fphoto%2f2014%2f0111%2fnba_dec-dunks_13.jpg&ehk=9ayDN%2f%2flJvVgMIqVCX95Y1DgQjqz%2buD%2fyej%2badPO6MM%3d&risl=&pid=ImgRaw&r=0'), 
                          linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85));
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.register-main h1 {
    font-family: 'Montserrat';
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 2.2vw;
    margin-right: 12.5rem;
}

.register-loginlink {
    color: white;
    font-family: 'Inter';
    font-size: 0.85vw;
    transition: transform 0.2s ease;
    margin-bottom: 1.5rem;
    margin-right: 26.5rem;
}

.register-main a:hover {
    transform: scale(1.05);
}

.register-form {
    position: relative;
    background-color: white;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.register-form label {
    font-family: 'Inter';
    color: black;
    text-align: left;
    margin-top: 0px;
    font-size: 1.25rem;
    margin-left: 95px;
}

.register-form input[type="text"], .register-form input[type="password"], .register-form textarea
{
    width: 70%;
    padding: 3px;
    margin-top: 0px;
    font-size: 1.25vw;
    margin: auto;
}

.register-form input[type="submit"] {
    padding: 15px;
    background-color: white;
    color: black;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 130px;
    margin: auto;
}

.register-form input[type="submit"]:hover{
    transform: scale(1.05);
}

.register-form textarea {
    width: 70%;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 45px;
    resize: none;
    margin-bottom: 20px;
    font-size: 1rem;
}

.back-button-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.back-button-link-register{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border: solid black;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    text-align: center;
    margin-top: 15px;
}

.back-button-link-register:hover{
    transform: scale(1.05);
}

/* VIEW AVAILABLE PAGE */

.available-page {
    height: 100%;
    margin: 0;
    background-image: url('../images/view-available.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.view-available-body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 1; /* Ensure the body content is above the background */
    width: 100%;
    color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: start;
    padding-top: 40vh; /* Adjust padding to make space for header */
    min-height: calc(100vh - 40vh); /* Ensure the body section takes the remaining height */
}

/* Transparent header */
.viewavailable-page-header {
    background: transparent;
    padding: 10px;
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 30vh; 
    color: white; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    z-index: 2; /* Ensure the header is above the body content */
}

