
* {
    font-family: 'Inter';
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Montserrat', sans-serif; 
}

/* index.html */

.main-page-header {
    position: relative;
    background-image: url('https://cdn.nba.com/manage/2024/04/ANT-scaled.jpg?fbclid=IwAR3UxQSXC33ze9Mg8B05x-f00VFxSwfhPK5kZ0VEfS7Qfx948f_LRSLKD3Y'), 
                          linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.55));
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.main-page-header h1 {
    font-family: 'Montserrat';
    margin-bottom: 0.5rem;
}

.main-page-header h4 {
    font-family: 'Montserrat';
    font-weight: normal;
    margin-top: 0;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    display: inline-block;
    width: 55%;
}

.main-page-navbar {
    position: absolute;
    top: 0;
    padding: 4rem 25rem 0 0;
    display: flex;
    justify-content: center;
    gap: 2.75rem;
}

.main-page-navbar a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.main-page-navbar a:hover {
    transform: scale(1.05);
}

.main-page-registerlogin a {
    position: relative;
    bottom: 0.5rem;
    left: 25rem;
    border-style: solid;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: transform 0.2s ease;
    display: inline-block;
}

.main-page-registerlogin a:hover {
    transform: scale(1.05);
}

.main-page-content {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    flex-direction: column;
    position: relative;
}

.main-page-stadiumcontent {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
}

.main-page-stadiumimage {
    width: 230px;
    height: 150px;
    margin: auto;
    border-radius: 10px;
}

.main-page-stadiuminfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.main-page-stadiuminfo h2{
    margin-bottom: 0;
    font-family: 'Inter';
    font-weight: normal;
}

.main-page-stadiumdetails {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-page-stadiumdetails h4{
    font-family: 'Inter';
    font-weight: normal;
}

.main-page-userimage {
    width: 25px;
    height: auto;
}

.main-page-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 60px;
}

.main-view-available {
    border-style: solid;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    transition: transform 0.2s ease;
    display:inline-block;
    border-color: black;
    color: black; 
    text-decoration: none;
}

.main-reserve-seat {
    border-style: solid;
    border-radius: 10px;
    padding: 0.5rem 3.65rem;
    transition: transform 0.2s ease;
    display:inline-block;
    border-color: black;
    color: black; 
    text-decoration: none;
}

.main-view-available:hover, .main-reserve-seat:hover{
    transform: scale(1.05);
}

/* profile_page.html */

.profile-page-header {
    position: relative;
    background-image: url('https://a.espncdn.com/photo/2017/0523/r212047_1296x864_3-2.jpg'), 
                          linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.55));
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 40vh;
    width: 100%;
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.profile-page-header  h1 {
    font-family: 'Montserrat';
    margin-right: 42.5rem;
    margin-top: 10rem;
    font-weight: 420;
    text-align: left;
    font-size: 50px;
}

.profile-page-navbar {
    position: absolute;
    top: 0;
    padding: 4rem 25rem 0 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.profile-page-navbar a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.profile-page-navbar a:hover {
    transform: scale(1.05);
}

.profile-page-registerlogin a {
    position: relative;
    bottom: 0.5rem;
    left: 25rem;
    border-style: solid;
    padding: 0.5rem 1rem;
    transition: transform 0.2s ease;
    display: inline-block;
}

.profile-page-registerlogin a:hover {
    transform: scale(1.05);
}

.profile-page-content {
    position: relative;
    height: 100vh;
    width: 100%;
    color: white; 
    display: flex; 
    flex-direction: row; 
}

/*  profile_page.html | LEFT SIDE OF PROFILE PAGE*/

.profile-left-page {
    flex: 1; 
    background-color: #D9D9D9; 
    height: 960px;
}

.profile-username {
    width: 55%;
    float: right;
}

.profile-username h4{
    color:black;
    text-align: left;
    font-size: 24px;
    font-weight: 2000;
    font-family: 'Montserrat';
}

.profile-username p{
    color:black;
    text-align: left;
    font-family: 'Montserrat';
}

.personal-info, .personal-reservations {
    width: 55%;
    float: right;
    margin-top: 5rem;
}

.personal-info a, .personal-reservations a {
    display: flex; 
    align-items: center;
    text-decoration: none; 
    color: inherit; 
}

.personal-info h4, .personal-reservations h4 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-left: 1rem; 
    font-family: 'Montserrat';
}

.personal-info img, .personal-reservations img {
    width: 10%;
    height: auto;
}

/* profile_page.html | RIGHT SIDE OF PROFILE PAGE*/

.profile-right-page {
    flex: 1.2; 
    background-color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 960px;
}

.profile-search-bar {
    width: 80%; 
    margin-top: 2rem;
    margin-bottom: 2rem; 
    display: flex;
    justify-content: center; 
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 8px;
    cursor: pointer;
}


.search-icon {
    width: 24px; 
    height: 24px; 
}

.search-input {
    width: 100%; 
    padding: 0.5rem;
    font-size: 1rem;
    border: none; 
    outline: none; 
}

.profile-picture-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.profile-picture-upload img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover;
    border: 2px solid #ccc; 
    transition: background-color 0.3s ease; 
}

.profile-picture-label:hover img {
    background-color: black; 
}

.plus-sign {
    display: none; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 2rem; 
    color: white; 
}

.profile-picture-label:hover .plus-sign {
    display: block;
}

#file-upload {
    display: none;
}

.profile-details h4 {
    color: gray;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0.5rem 0; 
}

.profile-details h3 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0.5rem 0; 
}

.profile-input {
    width: 100%; 
    padding: 0.5rem; 
    border: 1px solid black; 
    background-color: #f0f0f0; 
    font-size: 1rem; 
    border-radius: 4px; 
    outline: none; 
    box-sizing: border-box; 
    margin-bottom: 2rem;
}

.description-input {
    width: 100%; 
    height: 10rem;
    padding: 0.5rem; 
    border: 1px solid black; 
    background-color: #f0f0f0; 
    font-size: 1rem; 
    border-radius: 4px; 
    outline: none; 
    box-sizing: border-box; 
    margin-bottom: 2rem;
    resize: none;
}

.delete-button-text h4{
    color: black;
}

.update-button-text h4{
    color: black;
}

.delete-and-update-profile {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 9rem; 
    margin-top: 2rem; 
}

.delete-button-text {
    display: inline-block;  
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
    color: #EE2121;
}

.update-button-text {
    display: inline-block; 
    width: 8rem;
    background-color: #000000;
    padding: 1rem 2rem; 
    border: 1px solid black;
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    color: white;
    transition: background-color 0.3s ease;
}

.update-button-text:hover {
    background-color: #ffffff; 
    color: black;
}

.delete-button-text h4, .update-button-text h4 {
    margin: 0; 
    color: inherit; 
}

/*FOOTER*/
.footer {
    position: relative;
    margin: auto;
    margin-top: 250px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    height: auto;
    width: 100%;
    gap: 75px;
}

.footer img {
    height: 100px;
    width: 100px;
}

.footer h5 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 0.75rem;
}

.footer a {
    transition: transform 0.2s ease;
}

.footer-navbar {
    display: flex;
    justify-content: center;
    gap: 2.75rem;
}

.footer-navbar a {
    font-family: "Montserrat";
    font-weight: normal;
    color: black; 
    text-decoration: none;
    font-size: 1.75rem;
    transition: transform 0.2s ease;
}

.footer-navbar a:hover, .footer a:hover{
    transform: scale(1.05);
}

/*PROFILE CURRENT RESERVATION PAGE*/

.reservation-profile-right-page {
    flex: 1.2; 
    background-color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 960px;
}

.reservation-box {
    padding: 1rem 2rem; 
    border: 1px solid black;
    border-radius: 4px;
    width: 40rem;
    height: auto; 
    margin-top: 2rem;
    display: flex;
    flex-direction: column; 
}

.reservation-id h3{
    color:black;
    font-size: 24px;
    font-weight: 500;
}

.reservation-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation-details-arena h2, .reservation-details-right h2, .reservation-details-left h2 { 
    color: gray;
    font-size: 16px; 
    font-weight: 350;
}

.reservation-buttons {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}

.modify-reservation {
    width: 12rem;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    color: black;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modify-reservation h4 {
    margin: 0;
}

.modify-reservation:hover {
    background-color: #000000; 
    color: white;
}

.cancel-reservation {
    color: black;
    text-decoration: none; 
    transition: background-color 1.3s ease;
}

.cancel-reservation:hover {
    color: #EE2121;
}