{{> header headerClass="about-page-header" navClass="about-page-navbar" title="" subtitle="" }}
<div class="about-content">
    <h1>Node.js Packages</h1>
    <p>A list of Node.js packages installed on our website.</p>
        <table class="packages-table">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Version</th>
                    <th>Description</th>
                </tr>
            </thead>
             <tbody>
                <tr>
                    <td>bcrypt-nodejs</td>
                    <td>0.0.3</td>
                    <td>A library to help you hash passwords using bcrypt.</td>
                </tr>
                <tr>
                    <td>bcryptjs</td>
                    <td>2.4.3</td>
                    <td>A library to help you hash passwords.</td>
                </tr>
                <tr>
                    <td>body-parser</td>
                    <td>1.20.2</td>
                    <td>Node.js body parsing middleware.</td>
                </tr>
                <tr>
                    <td>cookie-parser</td>
                    <td>1.4.6</td>
                    <td>Parse HTTP request cookies in Node.js.</td>
                </tr>
                <tr>
                    <td>dotenv</td>
                    <td>16.4.5</td>
                    <td>Loads environment variables from a .env file into process.env.</td>
                </tr>
                <tr>
                    <td>express</td>
                    <td>4.19.2</td>
                    <td>Fast, unopinionated, minimalist web framework for Node.js.</td>
                </tr>
                <tr>
                    <td>express-handlebars</td>
                    <td>7.1.3</td>
                    <td>A Handlebars view engine for Express.</td>
                </tr>
                <tr>
                    <td>express-session</td>
                    <td>1.18.0</td>
                    <td>Simple session middleware for Express.</td>
                </tr>
                <tr>
                    <td>hbs</td>
                    <td>4.2.0</td>
                    <td>Express.js view engine for Handlebars.js.</td>
                </tr>
                <tr>
                    <td>moment</td>
                    <td>2.30.1</td>
                    <td>A lightweight JavaScript date library for parsing, validating, manipulating, and formatting dates.</td>
                </tr>
                <tr>
                    <td>moment-timezone</td>
                    <td>0.5.45</td>
                    <td>Time zone support for Moment.js.</td>
                </tr>
                <tr>
                    <td>mongoose</td>
                    <td>4.5</td>
                    <td>Elegant MongoDB object data modeling (ODM) for Node.js.</td>
                </tr>
                <tr>
                    <td>multer</td>
                    <td>1.4.5-lts.1</td>
                    <td>Middleware for handling multipart/form-data, which is used for uploading files.</td>
                </tr>
                <tr>
                    <td>node-schedule</td>
                    <td>2.1.1</td>
                    <td>A cron-like and not-cron-like job scheduler for Node.</td>
                </tr>
                <tr>
                    <td>passport</td>
                    <td>0.7.0</td>
                    <td>Simple, unobtrusive authentication for Node.js.</td>
                </tr>
                <tr>
                    <td>passport-local</td>
                    <td>1.0.0</td>
                    <td>Passport strategy for authenticating with a username and password.</td>
                </tr>
                <tr>
                    <td>passport-local-mongoose</td>
                    <td>8.0.0</td>
                    <td>Mongoose plugin that simplifies building username and password login with Passport.</td>
                </tr>
            </tbody>
        </table>
</div>
