<body>

    <!-- Navigation Bar -->
     {{> header headerClass="profile-page-header" navClass="profile-page-navbar" title="Information"}}

    <div class="profile-page-content">
        <div class="profile-left-page">
            <div class="profile-username">
                <h4>RHENZ BHOVIE VILORIA</h4>
                <p>@rhenzbhovie</p>
            </div>
            <div class="personal-info">
                <a href="/profile_page">
                    <img src="images/user.png" alt="Your Account">
                    <h4>Your Account</h4>
                </a>
            </div>
            <div class="personal-reservations">
                <a href="/profile_current_reservation_page">
                    <img src="images/booking.png" alt="Current Reservations">
                    <h4>Current Reservation/s</h4>
                </a>
            </div>
        </div>
        <div class="reservation-profile-right-page">
            <div class="profile-search-bar">
                <div class="search-container">
                    <button class="search-button">
                        <img src="images/search.png" alt="Search Icon" class="search-icon">
                    </button>
                    <input type="text" placeholder="Search Profile..." class="search-input">
                </div>
            </div>
            <div class="profile-picture-upload">
                <input type="file" id="file-upload" accept="image/*" style="display:none;">
                <label for="file-upload" class="profile-picture-label">
                    <img src="images/default-user.png" alt="Profile Picture" id="profile-picture">
                    <div class="plus-sign">+</div>
                </label>
            </div>
            <div class="profile-details">
                <h4>ID:123456789</h4>
                <h3>Current Reservation</h3>
            </div>
            <div class="reservation-box">
                <div class="reservation-id">
                    <h3>Reservation #123456</h3>
                </div>
                <div class="reservation-details">
                    <div class="reservation-details-right">
                        <h2>May 29, 2024 3:00 PM - 3:30 PM</h2>
                    </div>
                </div>
                <div class="reservation-details-arena">
                    <h2>Crypto.com Arena</h2>
                </div>
                <div class="reservation-buttons">
                    <a href="/modify_reservation_page" class="modify-reservation">
                        <h4>Modify Reservation</h4>
                    </a>
                    <a href="" class="cancel-reservation">
                        <h4>Cancel Reservation</h4>
                    </a>
                </div>  
            </div>
            <div class="reservation-box">
                <div class="reservation-id">
                    <h3>Reservation #1235456</h3>
                </div>
                <div class="reservation-details">
                    <div class="reservation-details-right">
                        <h2>May 30, 2024 4:00 PM - 4:30 PM</h2>
                    </div>
                </div>
                <div class="reservation-details-arena">
                    <h2>Crypto.com Arena</h2>
                </div>
                <div class="reservation-buttons">
                    <a href="/modify_reservation_page" class="modify-reservation">
                        <h4>Modify Reservation</h4>
                    </a>
                    <a href="" class="cancel-reservation">
                        <h4>Cancel Reservation</h4>
                    </a>
                </div>  
            </div>
            <div class="reservation-box">
                <div class="reservation-id">
                    <h3>Reservation #1212356</h3>
                </div>
                <div class="reservation-details">
                    <div class="reservation-details-right">
                        <h2>May 1, 2024 7:00 PM - 7:30 PM</h2>
                    </div>
                </div>
                <div class="reservation-details-arena">
                    <h2>Crypto.com Arena</h2>
                </div>
                <div class="reservation-buttons">
                    <a href="/modify_reservation_page" class="modify-reservation">
                        <h4>Modify Reservation</h4>
                    </a>
                    <a href="" class="cancel-reservation">
                        <h4>Cancel Reservation</h4>
                    </a>
                </div>  
            </div>
            <div class="reservation-box">
                <div class="reservation-id">
                    <h3>Reservation #1212356</h3>
                </div>
                <div class="reservation-details">
                    <div class="reservation-details-right">
                        <h2>May 2, 2024 1:00 PM - 1:30 PM</h2>
                    </div>
                </div>
                <div class="reservation-details-arena">
                    <h2>Crypto.com Arena</h2>
                </div>
                <div class="reservation-buttons">
                    <a href="/modify_reservation_page" class="modify-reservation">
                        <h4>Modify Reservation</h4>
                    </a>
                    <a href="" class="cancel-reservation">
                        <h4>Cancel Reservation</h4>
                    </a>
                </div>  
            </div>
        </div>
    </div>
</body>