<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="register-main">
        <h1>CREATE AN ACCOUNT</h1>
        <a href="/login_page" class="register-loginlink">Already have an Account? Sign In</a>
        <form class="register-form" action="/register" method="POST" enctype="multipart/form-data">
            <label for="email">DLSU Email</label>
            <input type="email" id="email" name="email" pattern="^[a-zA-Z0-9._%+-]+@dlsu\.edu\.ph$" title="Please use a DLSU email address" required>

            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="student">Role: Student</label>
            <input type="radio" id="student" name="role" value="student" required>
            <label for="labtech">Role: Lab Technician</label>
            <input type="radio" id="labtech" name="role" value="lab_technician">

            <label for="profilePicture">Profile Picture</label>
            <input type="file" id="profilePicture" name="profilePicture" accept="image/*" onchange="previewProfilePicture();">

            <img id="profilePicturePreview" src="" alt="Profile Picture Preview" hidden>

            <label for="description">Description</label>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter your description here..."></textarea>

            <input type="submit" value="Create Account">
        </form>

        <div class="back-button-register">
            <a href="/" class="back-button-link-register">Go Back To Home</a>
        </div>
    </div>

    <script>
        function previewProfilePicture() {
            var file = document.getElementById('profilePicture').files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = document.getElementById('profilePicturePreview');
                img.src = e.target.result;
                img.hidden = false;
            };
            reader.readAsDataURL(file);
        }
    </script>
</body>
</html>
