<body class="remove-body">
    <!-- Navigation Bar -->
   {{> header headerClass="remove-reservation-page-header" navClass="remove-reservation-page-navbar" headerTitle="Reservation Dashboard" }}
   
    <div class="container-custom">
        <table id="reservation-table">
            <thead>
                <tr>
                    <th>Reservation ID</th>
                    <th>Username</th>
                    <th>Seat Number</th>
                    <th>Arena</th>
                    <th>Date of Request</th>
                    <th>Date & Time</th>
                    <th>Status</th>
                    <th>Edit Reservation</th>
                    <th>Remove Reservation</th>
                </tr>
            </thead>
            <tbody id="remove-ticket-container">
                <!-- Reservation tickets will be inserted here by JavaScript -->
            </tbody>
        </table>

        <div class="pagination-controls-custom">
            <button id="prev-page">Previous</button>
            <span id="page-numbers"></span>
            <button id="next-page">Next</button>
        </div>
    </div>
</body>