<body class="remove-body">
    <!-- Navigation Bar -->
    <div class="remove-reservation-page-header">
        <nav class="remove-reservation-page-navbar">
            <a href="/">HOME</a>
            <a href="/see_reservation_page">SEE RESERVATION</a>
            <a href="/">RESERVE A SEAT</a>
            <a href="/profile_page">PROFILE</a>
            <a href="/remove_reservation">RESERVATION DASHBOARD</a>
            <span class="profile-page-registerlogin"><a href="/login_page">REGISTER/LOGIN</a></span>
        </nav>

        <h1>Reservation Dashboard</h1>
    </div>

    <div class="container-custom">
        <table id="reservation-table">
            <thead>
                <tr>
                    <th>Reservation ID</th>
                    <th>Username</th>
                    <th>Seat Number</th>
                    <th>Arena</th>
                    <th>Date of Request</th>
                    <th>Date & Time</th>
                    <th>Status</th>
                    <th>Edit Reservation</th>
                    <th>Remove Reservation</th>
                </tr>
            </thead>
            <tbody id="remove-ticket-container">
                <!-- Reservation tickets will be inserted here by JavaScript -->
            </tbody>
        </table>

        <div class="pagination-controls-custom">
            <button id="prev-page">Previous</button>
            <span id="page-numbers"></span>
            <button id="next-page">Next</button>
        </div>
    </div>
</body>