<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../public/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="remove_reservation.js" defer></script>
    <title>Remove Reservation</title>
</head>
<body class="remove-body">
    <!-- Navigation Bar -->
    <div class="remove-reservation-page-header">
        <nav class="remove-reservation-page-navbar">
            <a href="index.html">HOME</a>
            <a href="see_reservation_page.html">SEE RESERVATION</a>
            <a href="index.html#main-page-content">RESERVE A SEAT</a>
            <a href="profile_page.html">PROFILE</a>
            <a href="remove_reservation.html">RESERVATION DASHBOARD</a>
            <span class="remove-reservation-page-registerlogin"><a href="login_page.html">REGISTER/LOGIN</a></span>
        </nav>

        <h1>Reservation Dashboard</h1>
    </div>

    <div class="container-custom">
        <table id="reservation-table">
            <thead>
                <tr>
                    <th>Reservation ID</th>
                    <th>Username</th>
                    <th>Seat Number</th>
                    <th>Arena</th>
                    <th>Date of Request</th>
                    <th>Date & Time</th>
                    <th>Status</th>
                    <th>Edit Reservation</th>
                    <th>Remove Reservation</th>
                </tr>
            </thead>
            <tbody id="remove-ticket-container">
                <!-- Reservation tickets will be inserted here by JavaScript -->
            </tbody>
        </table>

        <div class="pagination-controls-custom">
            <button id="prev-page">Previous</button>
            <span id="page-numbers"></span>
            <button id="next-page">Next</button>
        </div>
    </div>

    <div class="footer">
        <a href="https://www.nba.com/?17">
            <img src="../public/images/nba-logo.png" alt="NBA Logo">
        </a>
        <h5>© 2024 NBA All rights reserved.</h5>
        <nav class="footer-navbar">
            <a href="https://www.nba.com/news/about">About</a>
            <a href="https://contact.nba.com/">Contact</a>
            <a href="https://www.nba.com/teams">Teams</a>
            <a href="https://www.nba.com/news">Latest News</a>
        </nav>
    </div>
</body>
</html>
