<body>

    <!-- Navigation Bar -->
     {{> header headerClass="see-reservation-page-header" navClass="see-reservation-page-navbar" title="Your Reservations" }}

    <div class="see-reservation-page-content" id="ticket-container">
        <!-- Reservation tickets will be inserted here by JavaScript -->
    </div>

    <div class="pagination-controls">
        <button id="prev-page" disabled>Previous</button>
        <span id="page-numbers"></span>
        <button id="next-page">Next</button>
    </div>
</body>